<!-- src/app/components/film-list/film-list.component.html -->
<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    placeholder="Rechercher un film..."
    (keyup.enter)="onSearch()"
  />
  <button (click)="onSearch()">Rechercher</button>
  <button (click)="clearSearch()">Effacer</button>
</div>

<div class="film-list">
  <div *ngFor="let film of films" class="film-item">
    <img [src]="film.urlImage || 'C:\\Users\\badr4\\eclipse-workspace2024\\CD_MARKET\\images\\image.jpg'" alt="{{ film.titre }}" />
    <h2>{{ film.titre }}</h2>
    <p>{{ film.description }}</p>
    <p><strong>{{ film.prix }}€</strong></p>
    <button (click)="ajouterAuPanier(film)">Ajouter au panier</button>
  </div>
</div>
