/* src/app/components/film-list/film-list.component.css */
.film-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0.1); /* couleur de fond temporaire */
}

.film-item {
  background-color: #f9f9f9; /* couleur de fond temporaire */
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s;
}


.film-item:hover {
  transform: scale(1.05);
}

.film-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.film-item h2 {
  font-size: 18px;
  margin: 10px 0;
}

.film-item button {
  background-color: #28a745;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.film-item button:hover {
  background-color: #218838;
}

/* Style de la barre de recherche */
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-bar button {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar button:first-child {
  background-color: #007bff;
  color: white;
}

.search-bar button:first-child:hover {
  background-color: #0056b3;
}

.search-bar button:last-child {
  background-color: #6c757d;
  color: white;
}

.search-bar button:last-child:hover {
  background-color: #5a6268;
}
